{% extends "../base.html" %}
{% load static %}
{% block scripts %}
<!-- версия для разработки, отображает полезные предупреждения в консоли -->
{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static '/newgames/css/main.css' %}" />
{% endblock %}
{% block content %}
    <br/><br/>
    <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="container-fluid jumbotron">
                <div id="newgames_app">
                    <div v-if="listReady === false">
                        <div class="alert alert-secondary" role="alert">
                            <center>
                                <strong>Обновление!</strong><br/>Идёт обновление списка игр
                            </center>
                        </div>
                    </div>
                    <div v-else>
                    <div v-if="jsonReady==0" class="text-center">
                        <div class="alert alert-info" role="alert">
                            <strong>Загрузка!</strong><br/>Идёт загрузка данных
                        </div>
                    </div>
                    <div v-if="jsonReady==2">
                        <div class="alert alert-danger" role="alert">
                            <strong>Ошибка!</strong> Не удалось загрузить JSON-данные
                        </div>
                    </div>
                    <div v-if="jsonReady==1">
                        <center><a href="{% url 'renew' %}" type="button" class="btn btn-outline-danger">
                            <strong>ОБНОВИТЬ СПИСОК</strong></a></center>
                        <br/>
                    <div class="px-2 py-1" style="background-color: #fff; color: #3e5569;font-family: 'Nunito Sans', sans-serif;">
                        <h5 class="card-title">${ title }</h5>
                        <div class="d-flex justify-content-between">
                            <div>
                                <label for="page-size">Игр на странице</label>
                                <select v-model="pageSize" class="custom-select" id="page-size" style="width: 100px;" @change="changeSize">
                                    <option value="5" selected>5</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <nav calss="p-2 self-align-end" aria-label="Пагинация">
                                <ul class="pagination">
                                <li class="page-link page-item" v-if="currentPage>0" @click="pageFirst"><a class="to_point"><span aria-hidden="true">1</span></a></li>
                                <li class="page-item disabled" v-if="currentPage-3>0">
                                    <a class="page-link" href="#">...</a></li>
                                <li class="page-link page-item" v-if="currentPage-1>1" @click="pagePrevious">
                                    <a class="to_point"><span aria-hidden="true">${ currentPage-1 }</span></a></li>
                                <li class="page-link page-item" v-if="currentPage>1" @click="pagePrevious">
                                    <a class="to_point"><span aria-hidden="true">${ currentPage }</span></a></li>

                                <li class="page-item active"><a class="page-link" href="#">${ currentPage+1 }</a></li>

                                <li class="page-link page-item" v-if="currentPage+1<pagesCount-1" @click="pageNext">
                                    <a class="to_point"><span aria-hidden="true">${ currentPage+2 }</span></a></li>
                                <li class="page-link page-item" v-if="currentPage+2<pagesCount-1" @click="pageNext2">
                                    <a class="to_point"><span aria-hidden="true">${ currentPage+3 }</span></a></li>
                                <li class="page-item disabled" v-if="currentPage+3<pagesCount-1">
                                    <a class="page-link" href="#">...</a></li>
                                <li class="page-link page-item" v-if="currentPage<pagesCount-1" @click="pageLast"><a class="to_point"><span aria-hidden="true">${ pagesCount }</span></a></li>
                            </ul>
                            </nav>
                        </div>
                        <div class="d-flex justify-content-end">
                        </div>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" class="col-sm-1 col-md-1 col-lg-1"></th>
                                    <th scope="col" class="col-sm-3 col-md-3 col-lg-3">Название
                                        <a @click="sortByTitle" style="cursor: pointer;">
                                        <i style="color: black;" v-if="sortType == 'title' && sortDirect == 'desc'">&uarr;</i>
                                        <i style="color: grey;" v-else>&uarr;</i>
                                        <i style="color: black;" v-if="sortType == 'title' && sortDirect == 'asc'">&darr;</i>
                                        <i style="color: grey;" v-else>&darr;</i></a></th>
                                    <th scope="col" class="col-sm-2 col-md-2 col-lg-2">Дата выпуска
                                        <a class="to_point" @click="sortByDate" style="cursor: pointer; font-size:96%">
                                        <i style="color: black;" v-if="sortType == 'release_date' && sortDirect == 'desc'">&uarr;</i>
                                        <i style="color: grey;" v-else>&uarr;</i>
                                        <i style="color: black;" v-if="sortType == 'release_date' && sortDirect == 'asc'">&darr;</i>
                                        <i style="color: grey;" v-else>&darr;</i>                                    </a></th>
                                    <th scope="col" class="col-sm-2 col-md-2 col-lg-2">Полная цена, руб.
                                        <a class="to_point" @click="sortByPrice" style="cursor: pointer;">
                                        <i style="color: black;" v-if="sortType == 'price_full' && sortDirect == 'desc'">&uarr;</i>
                                        <i style="color: grey;" v-else>&uarr;</i>
                                        <i style="color: black;" v-if="sortType == 'price_full' && sortDirect == 'asc'">&darr;</i>
                                        <i style="color: grey;" v-else>&darr;</i>                                        </a></th>
                                    <th scope="col"  class="col-sm-4 col-md-4 col-lg-4">
                                        <multiselect id="tags_select"
                                                :options="gameTags"
                                                v-model="selectedTags"
                                                :multiple="true"
                                                :close-on-select="false"
                                                :clear-on-select="false"
                                                :preserve-search="true"
                                                :preselected-first="false"
                                                select-label="Выбрать"
                                                selected-label="Выбрано"
                                                deselect-label="Убрать"
                                                placeholder="Метки"
                                                @close="tagFilter"
                                        >
                                            <template
                                                slot="selection"
                                                slot-scope="{ values, search, isOpen }">
                                                <span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">
                                                    Выбрано меток: ${ values.length }
                                                </span>
                                            </template>
                                        </multiselect>
                                        <label class="typo__label">(записей ${ gamesData.length })</label>
                                        <br/>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="game in pagedList">
                                    <td scopr="row">
                                        <a :href=game.game_url target="_blank"><img :src=game.game_cover /></a>
                                    </td>
                                    <td><a :href=game.game_url target="_blank">${ game.title }</a></td>
                                    <td>${ game.release_date }</td>
                                    <td>${ game.price_full }</td>
                                    <td><span v-for="tag in game.tags">${ tag }, </span></td>
                                </tr>
                            </tbody>
                        </table>
                        <center>
                            <nav calss="p-2 self-align-end" aria-label="Пагинация">
                                <ul class="pagination d-flex justify-content-end">
                                <li class="page-link page-item" v-if="currentPage>0" @click="pageFirst"><a class="to_point"><span aria-hidden="true">1</span></a></li>
                                <li class="page-item disabled" v-if="currentPage-3>0">
                                    <a class="page-link" href="#">...</a></li>
                                <li class="page-link page-item" v-if="currentPage-1>1" @click="pagePrevious">
                                    <a class="to_point"><span aria-hidden="true">${ currentPage-1 }</span></a></li>
                                <li class="page-link page-item" v-if="currentPage>1" @click="pagePrevious">
                                    <a class="to_point"><span aria-hidden="true">${ currentPage }</span></a></li>

                                <li class="page-item active"><a class="page-link" href="#">${ currentPage+1 }</a></li>

                                <li class="page-link page-item" v-if="currentPage+1<pagesCount-1" @click="pageNext">
                                    <a class="to_point"><span aria-hidden="true">${ currentPage+2 }</span></a></li>
                                <li class="page-link page-item" v-if="currentPage+2<pagesCount-1" @click="pageNext2">
                                    <a class="to_point"><span aria-hidden="true">${ currentPage+3 }</span></a></li>
                                <li class="page-item disabled" v-if="currentPage+3<pagesCount-1">
                                    <a class="page-link" href="#">...</a></li>
                                <li class="page-link page-item" v-if="currentPage<pagesCount-1" @click="pageLast"><a class="to_point"><span aria-hidden="true">${ pagesCount }</span></a></li>
                            </ul>
                            </nav>
                        </center>
                    </div>

                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<script type="text/javascript" src="{% static '/newgames/js/for_index.js' %}">
</script>
{% endblock %}
