body {
    background-color: #1F262D;
}

.vue_app {
    background-color: #EBEBEB;
}

.card {
    background-color: #fff;
    font-family: "Nunito Sans", sans-serif;
    color: #3e5569;
    padding: 1%;
#    box-sizing: border-box;
#    -webkit-box-flex: 1;
#    flex: 1 1 auto;
#    padding: 1.25 rem;
}

.card-title {
}

.to_point:hover {
    cursor: pointer;
}
